<%- include('header') %>
        <form method="GET" action="/cotacao">
                <div class="form-group">
                        <input name="cotacao" placeholder="Dollar price" value="<%= cotacao %>" class="form-control"></input>
                        <small id="emailHelp" class="form-text text-muted">Reference day: <%=day%></small>
                </div>
                <div class="form-group">
                        <input name="quantidade" placeholder="Quantity of Dollars" class="form-control"></input><br>
                </div>
                <button class="btn btn-light">Convert!</button>
        </form>
<%- include('footer') %>